
@import url("/style/header.css");
:root {
    --cor-de-fundo: #EBECEE;
    --laranja: #EB9B00;
    
}
body{
    background-color: var(--cor-de-fundo);
    --branco: #FFFFFF;
    
}
h1 {
    background-color: white;
}

