.topicos{
    background: var(--azul-degrade);
    text-align: center;
    font-size: 16px;
    padding: 1em;
}

.topicos__titulo{
    color: var(--branco);
    font-weight: 500;
    margin-bottom: 1 em;
}

.topicos__lista{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
}

.topicos__item{
    margin: 2em 0.5em;
}

.topicos__link{
    color: var(--branco);
    padding: 1em 0;
    background-color: var(--laranja);
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;

}